# Ignore specific files
weather_status_log.txt
music_status_log.txt

#ignore db files
*.db
*.sqlite3

# Ignore entire directory
\songs_features_data

# Logs directory
logs/
*.log

# IDE files
.vscode/

# Environment variables
*.env

__pycache__/

# Data directories
tunebat_data/
deezer_previews/
deezer_data/
